<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.VocMapper">
    <insert id="insertVoc" useGeneratedKeys="true" keyProperty="vocNo">
        INSERT INTO VOC (CLAIM_NO, CUSTOMER_COMPANY_NO, DELIVERY_COMPANY_NO, VOC_TARGET, VOC_CONTENT)
        VALUES (#{claimNo}, #{customer.companyNo}, #{delivery.companyNo}, #{vocTarget}, #{vocContent})
    </insert>

    <insert id="insertCompensation" useGeneratedKeys="true" keyProperty="compensationNo">
        INSERT INTO Compensation (VOC_NO, COMPENSATION_PRICE, COMPENSATION_SIGN)
        VALUES (#{vocNo}, #{compensationPrice}, 'N')
    </insert>

    <insert id="insertPenalty" useGeneratedKeys="true" keyProperty="penaltyNo">
        INSERT INTO Penalty (PENALTY_TYPE, PENALTY_CONTENT, COMPENSATION_NO)
        VALUES (#{penaltyType}, #{penaltyContent}, #{compensationNo})
    </insert>

    <resultMap id="vocMap" type="vocVO" autoMapping="true">
        <id property="vocNo" column="VOC_NO"/>
        <association property="customer" columnPrefix="C_" resultMap="customerMap"/>
        <association property="delivery" columnPrefix="D_" resultMap="deliveryMap"/>
        <association property="compensation" column="VOC_NO" select="selectCompensation"/>
    </resultMap>

    <resultMap id="customerMap" type="companyVO" autoMapping="true">
        <id property="companyNo" column="COMPANY_NO"/>
    </resultMap>

    <resultMap id="deliveryMap" type="companyVO" autoMapping="true">
        <id property="companyNo" column="COMPANY_NO"/>
    </resultMap>

    <select id="selectVocList" resultMap="vocMap">
        SELECT
            V.*,
            C.COMPANY_NM AS C_CUSTOMER_NM,
            C.COMPANY_TEL AS C_CUSTOMER_TEL,
            C.COMPANY_TYPE AS C_CUSTOEMR_TYPE,
            C2.COMPANY_NM AS D_CUSTOMER_NM,
            C2.COMPANY_TEL AS D_CUSTOMER_TEL,
            C2.COMPANY_TYPE AS D_CUSTOEMR_TYPE,
            C3.*
        FROM Voc V
        INNER JOIN Company C on V.CUSTOMER_COMPANY_NO = C.COMPANY_NO
        INNER JOIN Company C2 on V.DELIVERY_COMPANY_NO = C2.COMPANY_NO
        INNER JOIN Charger C3 on C.COMPANY_NO = C3.COMPANY_NO
        WHERE 1=1
        AND C3.CHARGER_NO = #{chargerNo}
    </select>

    <resultMap id="compensationMap" type="compensationVO" autoMapping="true">
        <id property="compensationNo" column="COMPENSATION_NO"/>
        <association property="penalty" resultMap="penaltyMap"/>
    </resultMap>

    <resultMap id="penaltyMap" type="penaltyVO" autoMapping="true">
        <id property="penaltyNo" column="PENALTY_NO"/>
        <association property="objection" resultMap="objectionMap"/>
    </resultMap>

    <resultMap id="objectionMap" type="objectionVO" autoMapping="true">
        <id property="objectionNo" column="OBJECTION_NO"/>
    </resultMap>

    <select id="selectCompensation" resultMap="compensationMap">
        SELECT *
        FROM Compensation C
        INNER JOIN Penalty P on C.COMPENSATION_NO = P.COMPENSATION_NO
        LEFT JOIN Objection O on P.PENALTY_NO = O.PENALTY_NO
        WHERE 1=1
        AND C.VOC_NO = #{vocNo}
    </select>

    <update id="updateCheckVoc">
        UPDATE VOC
        SET CHARGER_CHECK_YN = 'Y'
        WHERE 1=1
        AND VOC_NO = #{vocNo}
    </update>

    <update id="updateChargerSign">
        UPDATE Penalty
        SET PENALTY_SIGN = 'Y'
        WHERE 1=1
          AND PENALTY_NO = #{penaltyNo}
    </update>

    <insert id="insertObjection">
        INSERT INTO Objection (PENALTY_NO, OBJECTION_CONTENT)
        VALUES (#{penaltyNo}, #{objectionContent})
    </insert>
</mapper>